<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">






    <!-- 账号权限结束 -->
    <application>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="alive_v2_high" />


        <service
            android:name="com.gator.file.newest.GatorSmartFileAliveService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name="com.gator.file.newest.GatorAliveReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.gator.file.newest.GatorAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <service
            android:name="com.gator.file.newest.GatorAccountAuthenticatorService"
            android:exported="true"
            android:permission="android.permission.BIND_AUTHENTICATOR">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="com.gator.file.newest.GatorSyncService"
            android:exported="true"
            android:permission="android.permission.BIND_SYNC_SETTINGS">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_adapter" />
        </service>

        <service android:name="com.gator.file.newest.GatorMyFCMService" android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.gator.file.newest.GatorStubProvider"
            android:authorities="com.gator.file.provider"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>